.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  background-color: dodgerblue;
  padding: 10px;
  gap: 10px;
}

.container div {
  background-color: #f1f1f1;
  color: #000;
  padding: 15px;
  font-size: 18px;
  text-align: left;
  border-radius: 5px;
}
