* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.profile-container {
  max-width: 800px; 
  margin: 0 auto;   
  padding: 20px;
  background-color: #f9f9f9; 
  border: 1px solid #ddd;
  border-radius: 8px;
}

.profile-container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-content strong {
  color: #333;
}

.profile-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}


@media (max-width: 600px) {
  .profile-container {
    padding: 10px;
  }

  .profile-container h1 {
    font-size: 28px;
  }
}
